<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Newslatter</title> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <table width="600" style="display: block; margin: 0 auto; padding: 0 15px;">
        <tbody style="display: block;">
            <tr style="display: block;">
                <td style="display: block; margin: 0 auto">
                    <h3
                        style="font-size:24px; font-weight: 800; margin-bottom: 15px; text-align: center; font-family: 'Roboto', sans-serif;">
                        Your verification code is <%=code%>
                    </h3>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>